<div class="container">
  <form action="" id="submit_login" method="POST" role="form" onsubmit="return false;">
    <legend>Login Admin</legend>
  
    <div class="form-group">
      <label for="">UserName</label>
      <input type="text" class="form-control" id="username" placeholder="UserName">
    </div>
    <div class="form-group">
      <label for="">PassWord</label>
      <input type="password" class="form-control" id="password" placeholder="PassWord">
    </div>
  
    
  
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
